tr{
width: 20%;
}

td{
min-width: 114px;
width:120px;
height:20px;
text-align:center;
}

.title{
font-weight: bold;
}

.columnOfCards{
background: url('../cards/blank.png') no-repeat;
background-position: center top;
padding-top: 100px;
width: 120px;
height: 750px;
vertical-align: text-top;
}

.cardLocation{
display: inline;
position: relative;
margin-top: -100px;
/*background-color:#F0F0F0;*/
}

.selected{
position: center top;
border: 2px solid red;
border-radius: 10px;
}

#menu{
width: 100%;
text-align: center;
padding: 15px;
//color: darkgreen;
width 100%;
//background-color: #FF8080;
}

#menu td {
width: 20%
}

#deal_button{
background: url('../cards/empty.png') no-repeat;
cursor:pointer;

}

h1{
text-align:center;
font-size:450%;
margin: 20px 0px 20px 0px;
}

h2{
font-size:120%;
font-color: #E78534
font-weight: bold;
}

table{
text-align:center;
margin-left:auto;
margin-right:auto;
position: relative;
}

footer{
text-align:center;
margin-left:auto;
margin-right:auto;
background-color:green;
}

body{
background-size:cover;
background-image: url("../cards/felt.png");
margin: 0px;
}

button{
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8c6c4c), color-stop(1, #7a5e41));
	background:-moz-linear-gradient(top, #8c6c4c 5%, #7a5e41 100%);
	background:-webkit-linear-gradient(top, #8c6c4c 5%, #7a5e41 100%);
	background:-o-linear-gradient(top, #8c6c4c 5%, #7a5e41 100%);
	background:-ms-linear-gradient(top, #8c6c4c 5%, #7a5e41 100%);
	background:linear-gradient(to bottom, #8c6c4c 5%, #7a5e41 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c6c4c', endColorstr='#7a5e41',GradientType=0);
	background-color:#8c6c4c;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}

.btn:hover, .btn:focus {
    background-color: #3e8e41;
}
.dropdown-content {
    display: none;
    position: relative;
    //background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:click .dropdown-content {
    display: block;
}