<body>
<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<div class="blackground"></div>
<div class="chooseDeck">Choose your Deck:<br>
    <select id="country">
        <option selected="selected">-- Select --</option>
        <option value=0 id="US">US</option>
        <option value=1 id="Spanish">Spanish</option>
    </select>
</div>

<table>
    <tr>
        <td><strong>DEAL</strong><br><img id="dealButton" src="assets/cards/Back.png" alt="Deck Empty"></td>
        <td class="columnOfCards" id="c0" value="0"></td>
        <td class="columnOfCards" id="c1" value="1"></td>
        <td class="columnOfCards" id="c2" value="2"></td>
        <td class="columnOfCards" id="c3" value="3"></td>
        <td><img id="discard" src="" alt="DISCARD PILE"></td>
    </tr>
</table>

<hr style="margin:0px;">
<footer id="menu"><table><tr>
    <td><button id="howTo">How to Play</button></td>
    <td>Score: <span id="score">0</span></td>
    <td><button id="newGame">New Game</button></td>
    <td><button id="undo">Undo</button></td>
    <td><button id="restart">Restart Same Game</button></td>
    </tr></table>
</footer>
<script>

var game;
var country;

function display(game) {
    var dfolder;
    console.log(game);
    $( '.columnOfCards' ).html("");

    if(country == 1)
        dfolder="barajas";
    else
        dfolder="cards";

    $.each(game.cols[0], function( key, val ) {
        $( '#c0' ).append("<img src='assets/"+dfolder+"/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
    });

    $.each(game.cols[1], function( key, val ) {
        $( '#c1' ).append("<img src='assets/"+dfolder+"/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
    });

    $.each(game.cols[2], function( key, val ) {
        $( '#c2' ).append("<img src='assets/"+dfolder+"/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
    });

    $.each(game.cols[3], function( key, val ) {
        $( '#c3' ).append("<img src='assets/"+dfolder+"/"+val.suit+val.value+".png' alt=nothing class=cardLocation>");
    });

    $("#score").html(game.score);

    if(game.initialized==true){
        $(".chooseDeck").css("display","none");
        $(".blackground").css("display","none");
    }
    else{
        $(".chooseDeck").css("display","block");
        $(".blackground").css("display","block");
    }


    $(".blackground").html(game.deck.cards.length);
    if((game.deck.size)==0){
        $("#dealButton").attr("src","");
        $(".blackground").html(game.deck.cards.length);
    }
    card_functionality();
}

$.getJSON("http://localhost:8080/game", function( data ) {
    display(data);
    game = data;
});

$("#country").change(function(){
    country = $(this).val();
    chooseDeck($(this).val());
});

function chooseDeck(d){
    $.ajax({
        type: "POST",
        url: "/dselect/"+d,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
}



$("#dealButton").click(function(){
    if(game.initialized == true){
        $.ajax({
            type: "POST",
            url: "/dealGame",
            data: JSON.stringify(game),
            success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
                game = data;
                display(data);},
            contentType:"application/json; charset=utf-8",
            dataType:"json",
        });
    }
});




$("#newGame").click(function() {

    $(".chooseDeck").html("Are you sure you want to start a new game? <br><button id='Sure'>Sure</button> <button id='No'>No</button>");
    $(".chooseDeck").css("display","block");
    $(".blackground").css("display","block");

    $("#Sure").click(function() {
         location.reload();
    });

    $("#No").click(function() {
          $(".chooseDeck").css("display","none");
         $(".blackground").css("display","none");
});
});




function removeCard(colNumber){
    $.ajax({
        type: "POST",
        url: "/removeCard/"+colNumber,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });

    $("#discard").attr("src","assets/cards/Back.png");
}

function card_functionality(){
    $("#c0 img:last-child").dblclick(function(){
        removeCard(0);
    });
    $("#c1 img:last-child").dblclick(function(){
        removeCard(1);
    });
    $("#c2 img:last-child").dblclick(function(){
        removeCard(2);
    });
    $("#c3 img:last-child").dblclick(function(){
        removeCard(3);
    });
    $(".cardLocation:last-child").click(function(){
        if($(this).hasClass("selected"))
            $(this).removeClass("selected");
        else{
            $(".cardLocation").removeClass("selected");
            $(this).addClass("selected");
        }
    });
}


$(".columnOfCards").click(function(){
    if($(this).has("img").length==0){
        var colFrom = $(".selected").parent().attr("value");
        var colTo = $(this).attr("value");
        if(colFrom!=undefined && colFrom!=colTo){
            $.ajax({
              type: "POST",
              url: "/moveCard/"+colFrom+"/"+colTo,
              data: JSON.stringify(game),
              success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
                    game = data;
                    display(data);},
              contentType:"application/json; charset=utf-8",
              dataType:"json",
            });
        }
    }
});


</script>



</body>
</html>